link(rel="stylesheet", href="css/app.css", data-inline)
<p> Hi #{username}, 
<br/> a new client (#{clientName}), has added a referral to the database!
<br/> please sign into </p> 
a(src="https://database.tadact.org.au/client?id=#{clientId}") database.tadact.org.au
<p> to setup and assign a project! </p>
<br/>
img(src="cid:logo", alt="TADACT")
<br/>
<i> TADACT aims to enable the independence for all people living with disabilities and older people through customised equipment and other creative solutions. 
<br/> ABN 57 265 712 346</i>
