link(rel="stylesheet", href="css/app.css", data-inline)
p Hi #{username}, 
br You have been assigned new tasks!
br please sign into 
a(src="https://database.tadact.org.au/") database.tadact.org.au
p to view them
br
img(src="cid:logo", alt="TADACT")
br
i TADACT aims to enable the independence for all people living with disabilities and older people through customised equipment and other creative solutions. 
br
i ABN 57 265 712 346
