link(rel="stylesheet", href="css/app.css", data-inline)
p Hi #{name}, 
br Welcome to TADACT!
br We've added your referral to our system, and will be in touch soon!
br
img(src="cid:logo", alt="TADACT")
br
i TADACT aims to enable the independence for all people living with disabilities and older people through customised equipment and other creative solutions. 
br
i ABN 57 265 712 346
